<div class="row">
	<div class="col-lg-4">
		<div class="list-group">
			<a (click)="sonido(1)" class="list-group-item list-group-item-action" style="background-color: red;">1</a>
			<a (click)="sonido(2)" class="list-group-item list-group-item-action"
				style="background-color: orange;">2</a>
			<a (click)="sonido(3)" class="list-group-item list-group-item-action"
				style="background-color: yellow;">3</a>
			<a (click)="sonido(4)" class="list-group-item list-group-item-action" style="background-color: green;">4</a>
			<a (click)="sonido(5)" class="list-group-item list-group-item-action" style="background-color: teal;">5</a>
			<a (click)="sonido(6)" class="list-group-item list-group-item-action" style="background-color: blue;">6</a>
			<a (click)="sonido(7)" class="list-group-item list-group-item-action"
				style="background-color: violet;">7</a>
		</div>
	</div>
</div>